@theme {
  --scrollbar-track-basic: var(--color-gray-900);
  --scrollbar-thumb-basic: var(--color-gray-600);
  --scrollbar-basic: var(--scrollbar-thumb-basic) var(--scrollbar-track-basic);
}

@utility style-basic {
  &:not(.dark) {
    .aside {
      @apply bg-slate-900;
    }
    .aside-scrollbar {
      @apply scrollbar-styled-basic;
    }
    .aside-brand {
      @apply bg-slate-950 text-white border-b border-slate-800;
    }
    .aside-menu-item {
      @apply text-slate-400 hover:text-white hover:bg-slate-800/50 transition;
    }
    .aside-menu-item-active {
      @apply text-white bg-blue-600/15 border-r-4 border-blue-500 font-semibold;
    }
    .aside-menu-dropdown {
      @apply bg-slate-800/40;
    }
    .navbar-item-label {
      @apply text-slate-700 hover:text-blue-600 transition;
    }
    .navbar-item-label-active {
      @apply text-blue-600 font-semibold;
    }
    .overlay {
      @apply from-slate-800 via-slate-950 to-slate-800;
    }
  }
}
